# Git ignore file
# See: https://git-scm.com/docs/gitignore

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Output
/main
*.out
*.o
*.so
*.dll
*.exp
*.lib
*.obj
*.def
*.elf
*.exe
*.dSYM
*.pdb
zig-out

# Cache
zig-cache

# Temp Files
/test.lua
Makefile.local
